{% extends 'webapp/base.html'%} {% load crispy_forms_tags%} {% block content %}

<body>
  <div class="container bg-light shadow-md-p5 form-layout">
    <h3>Login to your account</h3>
    

    <hr />
    <br />

    <form method="post" autocomplete="off">
      {% csrf_token %} {{form|crispy}}

      <br />
      <button type="submit" class="btn btn-primary w-100 btn-block p-2">
        Login
      </button>
    </form>

    <br />

    <div class="text-center">
      <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
  </div>
  <br />
</body>

{% endblock %}
