{% extends 'webapp/base.html' %}\
{% load crispy_forms_tags %}
{% block content %}


<div class="card">
    <strong>
        <br/>
        &nbsp;
        {{record.last_name|upper}}
        &nbsp;
        {{record.first_name}}
    </strong>
    <hr/>
    <div class="card-body">
        <p> <strong> ID :</strong>{{record.id}}</p>
        <p> <strong> Email :</strong>{{record.email}}</p>
        <p> <strong> Phone :</strong>{{record.phone}}</p>
        <p> <strong> Address :</strong>{{record.address}}</p>
        <p> <strong> City :</strong>{{record.city}}</p>
        <p> <strong> Province :</strong>{{record.province}}</p>
        <p> <strong> Country :</strong>{{record.country}}</p>
        <p> <strong> Date joined :</strong>{{record.creation_date}}</p>
    </div>

</div>
<br/>

<a href="{% url 'dashboard' %}" class = "btn btn-secondary">Return</a>
     &nbsp;
<a href="{% url 'update_record' record.id %}" class = "btn btn-info">Update record</a>
     &nbsp;
<a href="{% url 'dashboard' %}" class = "btn btn-danger">Delete record</a>
    




{% endblock%}